.title {
	margin-top: 40px;
	text-align: center;
}

.subtitle {
	text-align: center;
	color: gray;
}

.graph {
	margin-top: 50px;
}

.cities_text {
	font-size: 9px;
}

div {
	position: relative;
}

.source {
	font-size: 9px;
	position: absolute;
	bottom: 0;
	right: 0;
	margin-right: 40px;
}

.source2 {
	font-size: 9px;
	position: absolute;
	bottom: 0;
	right: 0;
	margin-right: 0px;
	margin-bottom: 80px;
}

