@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: #f5f5f5;
}

.navMenu {
	text-align: center;
	padding: 20px;
}

.navMenu a {
	font-family: "Montserrat", sans-serif;
	color: #000000;
	text-decoration: none;
	font-size: 0.8em;
	text-transform: uppercase;
	font-weight: 500;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	padding: 20px;
}

.active {
	font-weight: 1000 !important;
}

.navMenu a:hover {
	color: #fddb3a;
	/* font-weight: 1000; */
	/* font-size: larger; */
}

.navMenu .dot {
	width: 6px;
	height: 6px;
	background: #fddb3a;
	border-radius: 50%;
	opacity: 0;
	-webkit-transform: translateX(30px);
	transform: translateX(30px);
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
	-webkit-transform: translateX(30px);
	transform: translateX(30px);
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
	-webkit-transform: translateX(110px);
	transform: translateX(110px);
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
	-webkit-transform: translateX(200px);
	transform: translateX(200px);
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	opacity: 1;
}

.navMenu a:nth-child(4):hover ~ .dot {
	-webkit-transform: translateX(285px);
	transform: translateX(285px);
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	opacity: 1;
}

@media only screen and (max-width: 1300px) {
	.navMenu a {
		font-family: "Montserrat", sans-serif;
		color: #000000;
		text-decoration: none;
		font-size: 0.8em;
		text-transform: uppercase;
		font-weight: 500;
		-webkit-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
		padding: 10px;
	}	
}
